.navBar {
  margin-bottom: 0;
  margin-top: 5.3vh;
  height: 5vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.back {
  color: black;
}

.title {
  color: black;
  font-size: 0.9rem;
  font-weight: bold;
}
