.navBar {
  padding-top: 5.3vh;
  height: 5.3vh;
  width: 100%;
  background-color: white;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.back {
  color: black;
  position: absolute;
  left: 1rem;
}

.refresh {
  position: absolute;
  left: 0;
  margin-left: 30vw;
}

.title {
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
}
