.navBar {
  margin-bottom: 0;
  padding-top: 5.3vh;
  height: 10.3vh;
  width: 100%;
  background-color: white;
}

.back {
  color: black;
  margin-top: 5.3vh;
}

.refresh {
  position: absolute;
  left: 0;
  margin-left: 30vw;
}

.title {
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
}
