.room {
  height: 79.7vh;
  color: white;
  padding: 1rem;

  background-image: url('../../../../assets/img/bg/in_door.jpg');
  background-size: cover;
  background-position-x: 21%;
}

.infoContainer {
  height: 14vh;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  .infoWrap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    .info {
      margin: 0.2rem 0.1rem;
    }
  }

  .btnWrap {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    .btn {
      width: 5rem;
      height: 5rem;
      font-size: 1.1rem;
      line-height: 1.3rem;
    }
  }
}

.seatWrap {
  width: 18rem;
  height: 40vh;
  margin: 2rem auto;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  .btn {
    width: 7rem;
    height: 7rem;
    font-size: 1.6rem;
    border-radius: 50%;
  }

  .seat {
    position: absolute;
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 50%;
    border: 5px solid #111;
    background-color: rgba(100, 100, 100, 0.7);

    --total: 15;
    --index: 0;
    --angle: calc(((360deg / var(--total)) * var(--index)) - 90deg); // 添加 -90deg 偏移
    --negative-angle: calc(0deg - var(--angle)); // 预先计算负角度
    transform: rotate(var(--angle)) translate(9.5rem) rotate(var(--negative-angle)); // 旋转平移再旋转，保证内容文字是正的

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .btnText {
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1rem;
    font-weight: bold;
    color: black;
    background-color: rgba(255, 191, 0, 1);
    border-radius: 50%;

    --total: 15;
    --index: 0;
    --angle: calc(((360deg / var(--total)) * var(--index)) - 90deg); // 添加 -90deg 偏移
    --negative-angle: calc(0deg - var(--angle)); // 预先计算负角度
    transform: rotate(var(--angle)) translate(6.9rem) rotate(var(--negative-angle)); // 旋转平移再旋转，保证内容文字是正的

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}

.wait {
  width: 18rem;
  height: auto;
  min-height: 4rem;
  margin: 2rem auto;
  background-color: rgba(255, 191, 0, 0.6);
  border: 3px solid #222;
  border-radius: 30px;
  padding: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  .avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: rgba(255, 16, 36, 0.7);
    margin: 0.2rem 0.1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}
