.popup {
  width: 100vw;
  height: 84vh;
  margin-top: 6vh;
  border-bottom: 3px solid #ff1024;
  z-index: 9999;
  color: white;
  background-color: #222;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  padding: 0.3rem 0;
  box-shadow:
    0 4px 6px -1px rgba(255, 255, 255, 0.1),
    0 2px 4px -1px rgba(255, 255, 255, 0.06);
}

.container {
  padding: 3vh 2vh;
  overflow-y: auto;
}
